<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300338051700-k60u15u3lmpdhih58sni4m9f7ct63s4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300338051700-k60u15u3lmpdhih58sni4m9f7ct63s4c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>300338051700-6vpdtvfd2o4kr7rmuugpps7gq6h4s0jm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCL5s-AC51b5uSb7R0HZBWjK-M3-Da_Nvw</string>
	<key>GCM_SENDER_ID</key>
	<string>300338051700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vibecro.heureux_voyageur</string>
	<key>PROJECT_ID</key>
	<string>fruiteefy-b6204</string>
	<key>STORAGE_BUCKET</key>
	<string>fruiteefy-b6204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300338051700:ios:115044ab52ecabf4dd6f21</string>
	<key>DATABASE_URL</key>
	<string>https://fruiteefy-b6204.firebaseio.com</string>
</dict>
</plist>